:root {
    --color-light: #f8f9fa;
    --color-border: lawngreen;
    --color-white: #fff;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --border-radius: 3px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    background-color: var(--color-light);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 2.4rem;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.7rem;
    color: #FFFFFF;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    margin: 0;
    text-align: center;
    color: #545454;
}

@media (max-width: 595px) {
    h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.2rem;
    }
}

.container {
    max-width: 1260px;
    margin: auto;
    padding: 0 30px;
}

.hamburger__line,
.hamburger::after,
.hamburger::before {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #F1CDB3;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    transition: all 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .hamburger {
        display: inline-block;
        order: 2;
        z-index: 2;
    }
}


.hamburger::before {
    content: "";
    top: 0;
    left: 0;
}

.hamburger::after {
    content: "";
    bottom: 0;
    left: 0;
}

.hamburger__line {
    top: 50%;
    transform: translate(0, -50%);
}

.rotate {
    transform: rotate(90deg);
}

.unscroll {
    overflow: hidden;
}

.open {
    right: 0;
    transition: 0.3s;
}

.button {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    display: inline-block;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 1.5rem 4.5rem;
    background: #F1CDB3;
    border-radius: 100px;
    transition: all 0.3s;
}

.button_transparent {
    background-color: transparent;
    border: 2px solid #FDDCC4;
}

@media (hover: hover) {
    .button:hover {
        background-color: #FDDCC4;
    }
}


.hidden {
    display: none;
}